* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(10, 10, 10);
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%; 
    line-height: 1.15;
    margin: 0;
}

h1 {
    font-size: 2em;
    font-family: monospace;
    border: 2px solid black;
    width: fit-content;
    margin: auto;
    margin-bottom: 1em;

}

#historyLog{
    color: rgba(255, 255, 255, 0.695);
    font-size: 1.3em;
    text-align: right;
    width: 100%;
    padding-right: 10px;
    margin-bottom: 0;
    min-height: 1.3em;
}

input{
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    text-align: right;
    width: 100%;
    background-color: rgb(10, 10, 10);
}

input:focus{
    outline: none;
}

#calcHolder{
    border: 2px solid rgb(227, 224, 224);
    width: 14em;
    padding-top: 130px;
    margin: auto;
    border-radius: 2em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#btnHold{
    font-size: 2em;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.2em 0.2em;
    width: fit-content;
}

.btns, #plus, #minus, #times, #divide, #equal, #point {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: rgb(51, 49, 49);
    color: white;
}

#plus, #minus, #times, #divide, #equal, #point{
    background-color: rgb(251, 171, 0);
    color: white;

}

#del{
    border-radius: 10px;
    width: 50px;
    height: 40px;
    font-size: 0.5em;
    background-color: rgb(51, 49, 49);
    color: white;
    margin-top: 0;
    margin-bottom: 20px;
}

.btns:hover, #plus:hover, #minus:hover, #times:hover, #divide:hover, #equal:hover, #point:hover{
    background-color: rgb(153, 153, 153);
}